<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back" style="color:#fff;"></ion-back-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/cart'" routerDirection="forward">
				<ion-icon name="cart">
				
				</ion-icon>
				
				<p style="color:black;margin-bottom:20px;">{{values.qty}}</p>
			</ion-button>
			
		</ion-buttons>

		<ion-title>Item Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content  class="bg-white">
	<div class="ara">
		<div class="top-area" *ngIf="params.data.image==''">
			<img src="assets/imgs/top.jpg" />
		</div>

		<div class="top-area" *ngIf="params.data.image!=''">
			<img src="{{params.data.image}}" />
		</div>
		
		<div class="info-area">
			<h3>{{params.data.name}}</h3>
			<p [innerHTML]="params.data.price"></p>
		</div>
	</div>
	
	<div class="info-part">
		<p [innerHTML]="params.data.description"></p>
		
		<hr class="full-area" *ngIf="params.data.len > 0">
		
		<h2 class="sub-head" *ngIf="params.data.len > 0">Ingredients</h2>
		
		<ul class="ing" *ngIf="params.data.len > 0">
			<li *ngFor="let item of params.data.dish">
				<img src="{{item.img}}" />
				<p>{{item.name}}</p>
			</li>
			
		</ul>
		
				
		<hr class="full-area" *ngIf="params.data.calories!=''">
		
		<h2 class="sub-head" *ngIf="params.data.calories!=''">Calories</h2>
		<p class="f-15" *ngIf="params.data.calories!=''">{{params.data.calories}}</p>
		
		<hr class="full-area">
		
		<h2 class="sub-head" *ngIf="params.data.medium_price!='' || params.data.large_price!=''" >Size</h2>
		<p *ngIf="params.data.medium_price!='' || params.data.large_price!=''" style="margin: 0 0 0 0;">
			<ion-select [(ngModel)]="priceval" placeholder="Select Price" style="padding-left:0;">
	  			<ion-select-option value="0">{{params.data.price1}} € (Small)</ion-select-option>
	  			<ion-select-option value="1" *ngIf="params.data.medium_price!=''">{{params.data.medium_price}} € (Medium)</ion-select-option>
	  			<ion-select-option value="2" *ngIf="params.data.large_price!=''">{{params.data.large_price}} € (Large)</ion-select-option>
	  		</ion-select>
		</p>
		
		<p style="margin-top:30px;">
			<b>ATENCIO:</b> Els plats que servim al nostre restaurant poden contenir alguna traça del següents al.lèrgens:Cereals, ou dur, porductes làctics, peix, moluscs, crustacis, soja, fruits secs, api, sèsam, mostassa, sulfits, etc. Per mes informació consulti si us plau al nostre Encarregat.
		</p>

		<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" (click)="addToCart()"><ion-icon name="ios-cart" style="margin-right:5px"></ion-icon> Add to Cart</ion-button>
	</div>
</ion-content>