<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back" style="color:#fff;"></ion-back-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/cart'" routerDirection="forward">
				<ion-icon name="cart">
				
				</ion-icon>
				
				<p style="color:black;margin-bottom:20px;">{{values.qty}}</p>
			</ion-button>
			
		</ion-buttons>

		<ion-title>Product Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content  class="bg-white">
	<div class="ara">
		<div class="top-area">
			<img src="assets/imgs/top.jpg" />
		</div>
		
		<div class="info-area">
			<h3>Food Item Name</h3>
			<p>{{params.data.price}}$15.00</p>
		</div>
	</div>
	
	<div class="info-part">
		<p>
			{{params.data.description}}
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
			been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
			a galley of type and scrambled
		</p>
		
		<hr class="full-area">
		
		<h2 class="sub-head">Ingredients</h2>
		<ion-list>
			<ion-item *ngFor="let item of items">
			<ion-thumbnail slot="start">
				<ion-img [src]="item.src"></ion-img>
			</ion-thumbnail>
				<ion-label>{{item.text}}</ion-label>
			</ion-item>
			</ion-list>
		
		<hr class="full-area">
		
		<h2 class="sub-head">Calories</h2>
		<p class="f-15">150</p>
		
		<hr class="full-area">
		
		<p>
			<b>ATENCIO:</b> Els plats que servim al nostre restaurant poden contenir alguna traça del següents al.lèrgens:Cereals, ou dur, porductes làctics, peix, moluscs, crustacis, soja, fruits secs, api, sèsam, mostassa, sulfits, etc. Per mes informació consulti si us plau al nostre Encarregat.
		</p>
		
		<ion-button shape="round" class="self" expand="" color="danger" (click)="addToCart( params.data.name, params.data.price, params.data.image_firebase_url , params.data.extraOptions )" style="color:#fff;"><ion-icon name="ios-cart" style="margin-right:5px"></ion-icon> Add to Cart</ion-button>
	</div>
	<!--h2 style="width:100%;text-align:right;margin-bottom:0;background:#fff">
			<ion-badge style="color:white;
						  font-weight: 800;
						  letter-spacing: -0.05em;
						  font-size: 40px;
						  line-height: 40px;
						  padding-right: 10px;">
				{{params.data.price}}$
	
			</ion-badge>
	</h2>-->

	
	
<!--
		<ion-item>
						<div style="height:30px;width:100%;">
						  <ion-row style="color:white;">
								<ion-col>
									<p><b><ion-icon name="globe"></ion-icon>Restaurant Categories</b></p>
								</ion-col>
								
							
								
							</ion-row>
							
						</div>
		</ion-item>
						
	<ion-item>
		<div class="wrap-top-slide" *ngIf="categoryList" style="margin-top:10px;">			
			<ion-slides [options]="slidePerViewOpts">
			  <ion-slide *ngFor="let cats of categoryList"> 
			  
				<h1 style="position:absolute;color:white;padding-right:180px;padding-bottom:120px;"><b>
				<ion-badge>
				<h1 style="color:white;" [routerLink]="['/category', {id: cats.id, restaurantName: restaurantName, owner_id: owner_id, restaurantId: restaurantId}]">
				{{cats.title}}
				</h1>
				</ion-badge>
				</b></h1>
				
			
				<div text-left class="item-slide" [routerLink]="['/category', {id: cats.id, restaurantName: restaurantName, owner_id: owner_id, restaurantId: restaurantId}]" >
				  <div class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center" style="height:220px;">
					<img src="{{cats.image}}" height="100%;">
				  </div>
				
				  
				</div>
			  </ion-slide>
			</ion-slides>
		</div>		
	</ion-item>

-->
	

</ion-content>

<!--ion-footer>
  <ion-toolbar position="bottom">
		<ion-button expand="full" color="primary" (click)="addToCart( params.data.name, params.data.price, params.data.image_firebase_url , params.data.extraOptions )"><ion-icon name="ios-cart" style="margin-right:5px"></ion-icon> Add to Cart</ion-button>
	</ion-toolbar>
</ion-footer-->
