<ion-header>
	<ion-toolbar>
	
	
	<ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="fs-24 txt1" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

		   <ion-buttons slot="end">
     
      <!--ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button-->
    </ion-buttons>

		<ion-title>Orders List</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding >

		<div class="your-cart bg-thime" *ngIf="!myOrderList">
			You don't have any orders.
		</div>
		
		<div class="results-flex" *ngIf="myOrderList">

				<ion-virtual-scroll class="result" [items]="myOrderList">
				<div  *virtualItem="let orders">
				
					<ion-grid [routerLink]="['/order-details', {id: orders.id}]">
						<ion-row>
							<ion-col col-6>
								<div class="poster" [routerLink]="['/order-details', {id: orders.id}]">
									<img class="poster-effect" [src]="orders.logo">
								</div>
							</ion-col>
							<ion-col col-6 style="text-align:left;">
								<p><b style="color:white;" [innerHTML]="orders.title"></b></p>
								<h2><ion-badge style="color: white;" >{{orders.status}} </ion-badge></h2>
							 
							 <!--p><b style="color:white;"> 
						
							Date: {{orders.created | date}}
						
							</b></p-->
							 
							 
							 
							 
							
							 <!--
							 <p style ="text-align:right;"><b>Status:{{orders.status}}</b></p>
							 <p  style ="text-align:right;"><b>Date: {{orders.created | date}}</b></p>
						
							 <p  style ="text-align:right;"><b>Total:{{1 * orders.quantity * orders.itemPrice}}$</b></p>
							 -->
							</ion-col>
						</ion-row>
					</ion-grid>
				
					
				
				
					 
				</div>	
				
				

				</ion-virtual-scroll>
	

	
		</div>
		
		<!---
		<div class="your-cart bg-thime" *ngIf="myOrderList">
		
		
        <ion-card *ngFor="let orders of myOrderList">
            <ion-card-content  [routerLink]="['/order-details', {id: orders.id}]">
                <ion-row>
                    
					
						
						<ion-col col-3>
						<div *ngIf="orders.itemImage" class="img-box">
                            <img data-src="{{orders.itemImage}}">
                        </div>
                        <div *ngIf="!orders.itemImage" class="img-box">
                            <img src="assets/imgs/suit_PNG8132.png">
							
							</div>
							
							</ion-col>
							
							
							
							
							<ion-col col-9>
						
							 <p item-title><b>Name: {{orders.itemName}}</b></p>
							 <p item-title><b>Price: {{orders.itemPrice}}$</b></p>
							 <p item-title><b>Quantity: {{orders.quantity}}</b></p>
							 
							 </ion-col>
							 
					
					
					
                        
                        
                    
                    
                       
                    
                </ion-row>
				
				  <p  item-title style ="text-align:right;"><b>Status:{{orders.status}}</b></p>
				  <p  item-title style ="text-align:right;"><b>Date: {{orders.created | date}}</b></p>
						
						 <p  item-title style ="text-align:right;"><b>Total:{{1 * orders.quantity * orders.itemPrice}}$</b></p>
            </ion-card-content>
        </ion-card>


      
    </div>
	
	-->


</ion-content>
