<ion-header>
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
			
		</ion-buttons>

		   <ion-buttons slot="end">
     
      
    </ion-buttons>

		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content >

<div class="full-width" *ngIf="orderDetails">
	<div class="bg-img">
		<img src="assets/imgs/bg.png" />
	</div>
	<div class="over-info">
		<h3>{{orderDetails.newinfo.merchant_name}}</h3>
		<h4>{{orderDetails.newinfo.email}}</h4>
		<h4>{{orderDetails.newinfo.phone}}</h4>
	</div>
</div>


<div *ngIf="orderDetails" >
		 <div class="movie-data" >
			
			<!--div class="title" style="margin-top:20px;">Order's Item Details<span class="pos"><p>Pending</p></span></div-->
			
				<div class="order-list">
					<div class="title" style="margin-top:0px !important;">Order's Item Details<span class="pos"><p>{{orderDetails.status}}</p></span></div>

					<div [innerHTML]="orderDetails.html"></div>
					
				</div>
		
			<div class="order-list pad-0">
				<div class="title">Order's History</div>
				<div *ngFor="let history of orderDetails.historyhtml;">
					<p>Date:{{history.date_created}}</p>
					<p>Status:{{history.status}}</p>
					<p>Remarks:{{history.remarks}}</p>
				</div>
			</div>

		<!--- end here -->
	</div>


   </div>
	<center>
		<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" *ngIf="orderDetails?.request_cancel == '2' && orderDetails?.status == 'pending'" (click)="cancelOrder(id)">Cancel Order</ion-button>
		<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" *ngIf="orderDetails?.status == 'delivered'" [routerLink]="'/review/{{id}}'">Add Review</ion-button>
	</center>
	
	
	<div class="rating-area">
		<div class="title">Rate Your Order</div>
		<div class="rate">
			<input type="radio" id="star5" name="rate" value="5" />
			<label for="star5" title="text">5 stars</label>
			<input type="radio" id="star4" name="rate" value="4" />
			<label for="star4" title="text">4 stars</label>
			<input type="radio" id="star3" name="rate" value="3" />
			<label for="star3" title="text">3 stars</label>
			<input type="radio" id="star2" name="rate" value="2" />
			<label for="star2" title="text">2 stars</label>
			<input type="radio" id="star1" name="rate" value="1" />
			<label for="star1" title="text">1 star</label>
		</div>
		<div class="form-group">
			<textarea class=""></textarea>
			<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;">Submit Review</ion-button>

		</div>
	</div>
	
	
	
</ion-content>
