<ion-header>
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
			
		</ion-buttons>

		   <ion-buttons slot="end">
     
      
    </ion-buttons>

		<ion-title>Add Review</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content >

<div class="full-width" *ngIf="orderDetails">
	<div class="bg-img">
		<img src="assets/imgs/bg.png" />
	</div>
	<div class="over-info">
		<h3>{{orderDetails.newinfo.merchant_name}}</h3>
		<h4>{{orderDetails.newinfo.email}}</h4>
		<h4>{{orderDetails.newinfo.phone}}</h4>
	</div>
</div>


	
	<div class="rating-area">
		<div class="title">Rate Your Order</div>
		<div class="rate">
			<input type="radio" id="star5" name="rate" value="5" [(ngModel)]="rating"/>
			<label for="star5" title="text">5 stars</label>
			<input type="radio" id="star4" name="rate" value="4" [(ngModel)]="rating"/>
			<label for="star4" title="text">4 stars</label>
			<input type="radio" id="star3" name="rate" value="3" [(ngModel)]="rating"/>
			<label for="star3" title="text">3 stars</label>
			<input type="radio" id="star2" name="rate" value="2" [(ngModel)]="rating"/>
			<label for="star2" title="text">2 stars</label>
			<input type="radio" id="star1" name="rate" value="1" [(ngModel)]="rating"/>
			<label for="star1" title="text">1 star</label>
		</div>
		<div class="form-group">
			<textarea class="" [(ngModel)]="review" name="review"></textarea>
				<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" (click)="reviewOrder()">Submit Review</ion-button>

		</div>
	</div>
	
	
	
</ion-content>
