<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
		
		</ion-buttons>
		   <ion-buttons slot="end">
     <ion-select [(ngModel)]="lng" placeholder="Select Language" (ionChange)="language()">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="sp">Spanish</ion-select-option>
              <ion-select-option value="ct">Catalan</ion-select-option>
            </ion-select>
      <!--ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart" style="color:#fff;"></ion-icon>
      </ion-button-->
    </ion-buttons>

		<ion-title>Items</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="full-width">
		<div class="bg-img">
			<img src="{{logo}}">
		</div>
		<div class="infobox">
			<h1>{{restaurantName}}</h1>
			<h5>{{address}}</h5>
			<span class="badge"[innerHTML]="cuisine"></span>
		</div>
	</div>

	<ul class="self-cat" *ngIf="categoryList">
		<li [ngClass]="{'active': selectedItem == catname}" *ngFor="let catname of categoryList" (click)="listClick($event, catname);getitems(catname.id)">{{catname.category}}</li>
	</ul>
	

<div class="results-flex" *ngIf="productsList">
	
	<!--ion-virtual-scroll class="result" [items]="productsList"-->
	<div class="result">
			<div class="virtual-item1"  *ngFor="let cats of productsList">
				<!--[routerLink]="['/product-details', {id: cats.id, restaurantName: restaurantName , owner_id: owner_id , restaurantId: restaurantId}]"-->
				<div class="poster">
					<img class="poster-effect" [src]="cats.image">
				</div>
				<div class="item-info">
					<h2>{{cats.title }} </h2>
					<p class="dec"  >
						
					</p>
					<h3 [innerHTML]="cats.price.formatted_price"></h3>
					
					
				</div>	
			</div>	
		</div>
	<!--/ion-virtual-scroll-->
	
</div>

</ion-content>