<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
		
		</ion-buttons>
		   <ion-buttons slot="end">
     
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart" style="color:#fff;"></ion-icon>
      </ion-button>
    </ion-buttons>

		<ion-title>Products</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="full-width">
		<div class="bg-img">
			<img src="assets/imgs/bg.png">
		</div>
		<div class="infobox">
			<h1>AP RESIDENCY</h1>
			<h5>ABC CHANDIGARH PUNJAB 123456e</h5>
			<span class="badge">Breakfast, Bakery & Sweet</span>
		</div>
	</div>

	<ul class="self-cat">
		<li>All</li>
		<li>One</li>
		<li>Two</li>
		<li>Three</li>
		<li>Four</li>
		<li>Five</li>
		<li>Six</li>
		<li>Seven</li>
	</ul>
	

<div class="results-flex" *ngIf="productsList">
	
	<ion-virtual-scroll class="result" [items]="productsList">
			<div  *virtualItem="let cats">
				<div class="poster" [routerLink]="['/product-details', {id: cats.id, restaurantName: restaurantName , owner_id: owner_id , restaurantId: restaurantId}]">
					<img class="poster-effect" [src]="cats.image">
				</div>
				<div class="item-info">
					<h2 [routerLink]="['/product-details', {id: cats.id, restaurantName: restaurantName , owner_id: owner_id , restaurantId: restaurantId}]">{{cats.title }} </h2>
					<p class="dec">
						Some Information about the food item
					</p>
					<h3 [routerLink]="['/product-details', {id: cats.id, restaurantName: restaurantName , owner_id: owner_id , restaurantId: restaurantId}]"> {{cats.price }}.00$ </h3>
					
					
				</div>	
			</div>	
	</ion-virtual-scroll>
	

	
</div>
<!--
<div class="movies" *ngIf="productsList">
    
    <ion-virtual-scroll [items]="productsList">
      <div class="movie" *virtualItem="let cats" [routerLink]="['/product-details', {id: cats.id, restaurantName: restaurantName , owner_id: owner_id , restaurantId: restaurantId}]">
        
        <div class="poster">
	
		  <img class="poster-effect" [src]="cats.image">
        </div>
        <div class="data">
          <div class="title">{{cats.title }}</div>
          <div class="year">{{cats.price}}$</div>
        </div>
      </div>
    </ion-virtual-scroll>
  </div>
  
  -->


</ion-content>
