<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="fs-24 txt1" name="menu" style="color:#fff;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
     
      <!--ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button-->
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>


<ion-content>

	<div class="backdrop" *ngIf="user">
		<img src="{{'assets/imgs/background.jpg' }}">
	</div>
	<!--div class="backdrop-separator1"></div>
	<div class="backdrop-separator2"></div-->

  
 
  
	<div class="poster" *ngIf="user">
		<ion-button shape="round" class="imgBtn btn-red" (click)="selectImage()" style="color:#fff;position: absolute; margin-top: 160px; margin-left: -15px;">
			<ion-icon name="image" style="margin-right:5px"></ion-icon> Upload Image
		</ion-button>
	  
		<ion-avatar class="set-avtar">
			<img src="{{user.avatar}}" style="" >
		</ion-avatar>
	</div>

  <form [formGroup]="signupForm" novalidate>
					
					<ion-list class="ani-bottom-to-top mgb-0 mgt-20">
						
						<ion-item class="white-opct bdra-30">
							<ion-label position = "stacked" class="pdl-15 txt-b3">Firstname</ion-label>
							<ion-input #email formControlName="firstname" type="text" class="" placeholder="Firstname"></ion-input>
							<ion-icon name="person" slot="start" class="light"></ion-icon>
						</ion-item>
					</ion-list>
					<div class="error-message" *ngIf="isControlHasError('firstname','required')">
						<p class="fs-11 mgt-5 txt-light">Please enter your firstname.</p>
					</div>

					<div class="error-message" *ngIf="isControlHasError('firstname','pattern')">
						<p class="fs-11 mgt-5 txt-light">Please enter only alpha characters.</p>
					</div>
					
					<ion-list class="ani-bottom-to-top mgb-0 mgt-20">
						
						<ion-item class="white-opct bdra-30">
							<ion-label position = "stacked" class="pdl-15 txt-b3">Lastname</ion-label>
							<ion-input #email formControlName="lastname" type="text" class="" placeholder="Lastname"></ion-input>
						<ion-icon name="person" slot="start" class="light"></ion-icon>
						</ion-item>

					</ion-list>
					
					<div class="error-message" *ngIf="isControlHasError('lastname','required')">
						<p class="fs-11 mgt-5 txt-light">Please enter your lastname.</p>
					</div>

					<div class="error-message" *ngIf="isControlHasError('lastname','pattern')">
						<p class="fs-11 mgt-5 txt-light">Please enter only alpha characters.</p>
					</div>

					<ion-list class="ani-bottom-to-top mgb-0 mgt-20">
						<ion-item class="white-opct bdra-30">
							<ion-label position = "stacked" class="pdl-15 txt-b3">Phone Number</ion-label>
							<ion-input #email formControlName="phone" type="text" class="" placeholder="Phone Number"></ion-input>
							<ion-icon name="call" slot="start" class="light"></ion-icon>
						</ion-item>
					</ion-list>
					
					

					<div class="error-message" *ngIf="isControlHasError('phone','required')">
					<p class="fs-11 mgt-5 txt-light">Please enter your phone number.</p>
					</div>
					
					
					

					<div class="error-message" *ngIf="isControlHasError('phone','maxlength') || isControlHasError('phone','pattern')">
					<p class="fs-11 mgt-5 txt-light">Please enter valid 10 digits.</p>
				</div>
				
					<ion-list class="ani-bottom-to-top mgb-0 mgt-20">
						<ion-item class="white-opct bdra-30">
							<ion-label position = "stacked" class="pdl-15 txt-b3">Email Address</ion-label>
							<ion-input #email formControlName="email" type="email" class="" placeholder="Email Address" readonly></ion-input>
							<ion-icon name="mail" slot="start" class="light"></ion-icon>
						</ion-item>
					</ion-list>
					
					<!--div class="error-message" *ngIf="isControlHasError('email','required')">
					<p class="fs-11 mgt-5 txt-light">Please enter email address.</p>
				</div>
				<div class="error-message" *ngIf="isControlHasError('email','email')">
					<p class="fs-11 mgt-5 txt-light">Please enter valid email address.</p>
				</div-->

					

					<ion-button (click)="RegisterUser()" shape="round" expand="" color="dark" class="btn-red set">
						SAVE
					</ion-button>
					
					
				</form>
	


</ion-content>

<!--ion-footer>
  <ion-toolbar position="bottom">
		<ion-button expand="full" color="primary" (click)="addPost()">Save</ion-button>
	</ion-toolbar>
</ion-footer-->

