<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
			
		</ion-buttons>
   

		<ion-title>Change Password</ion-title>
	</ion-toolbar>
	
	  
</ion-header>

<ion-content padding>
	
	<form padding [formGroup]="passwordForm">
		
		
		<ion-item>
			<ion-label position = "stacked" class="pdl-15 txt-b3">Current Password</ion-label>
			<ion-input formControlName="cpassword" type="password"></ion-input>
		</ion-item>

		<div class="error-message" *ngIf="isControlHasError('cpassword','required')">
			<p class="fs-11 mgt-5 txt-light">Please enter your current password.</p>
		</div>
		

		<br>

		
		<ion-item>
			<ion-label position = "stacked" class="pdl-15 txt-b3">New Password</ion-label>
			<ion-input formControlName="newPassword" type="password"></ion-input>
		</ion-item>

		<div class="error-message" *ngIf="isControlHasError('newPassword','required')">
			<p class="fs-11 mgt-5 txt-light">Please enter your new password.</p>
		</div>

		<div class="error-message" *ngIf="isControlHasError('newPassword','minlength')">
					<p class="fs-11 mgt-5 txt-light">Please enter minimum 6 characters.</p>
				</div>

		<br>

		
		<ion-item>
		
			<ion-label position = "stacked" class="pdl-15 txt-b3">Confirm Password</ion-label>
			<ion-input formControlName="confirmPassword" type="password"></ion-input>
		</ion-item>

		<div class="error-message" *ngIf="isControlHasError('confirmPassword','required')">
			<p class="fs-11 mgt-5 txt-light">Please enter your confirm password.</p>
		</div>

		<div class="error-message" *ngIf="isControlHasError('confirmPassword','minlength')">
					<p class="fs-11 mgt-5 txt-light">Please enter minimum 6 characters.</p>
				</div>

		<br>
		<div class="" text-center>
			<ion-button expand="full"  (click)="OnPasswordChange()"  color = "primary" class="">
				Save change
			</ion-button>
		</div>
	</form>
</ion-content>