.toolbar-ios ion-title {
  padding: 0 70px 1px;
}ion-content{
    --ion-background-color:#f1f1f1;
}
.title {
    font-size: 17px !important;
    font-weight: 600 !important;
    margin: 10px 0 0px 10px !important;
    float: left;
    width: 100%;
}

.order-list {
      float: left;
    width: 96%;
    padding: 15px 10px;
    box-shadow: 1px 1px 11px #ccc;
    margin: 3% 2% 1% 2%;
    border-radius: 10px;
	
	
}

.data p{
		padding:0 10px;
		margin: 5px 0 5px 0;
		float: left;
    width: 50%;
	}


 .data{
		margin:10px 0 0 0;
		float: left;
		width: 100%;
}

.data.seprator {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.backdrop {
  margin: -20px;
  position: relative;
  height: 300px;
  overflow: hidden;
  background: #ddd;
  img {
    opacity: 1;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1.5);
    position: absolute;
  }
}

.full-width {
    position: relative;
    float: left;
    width: 100%;
}

.over-info {
    position: absolute;
    top: 70px;
    z-index: 2;
    color: #fff;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.over-info h3{margin:0 0 5px 0;}
.over-info h4{margin: 0 0 8px 0;    font-size: 13px;}

.backdrop-separator1 {
  width: 0;
  height: 0;
  z-index: 9999;
  position: absolute;
  left: 0;
  margin-top: calc(-120px + 20px + 1px);
  border-top: 120px solid transparent;
  border-left: 100vw solid white;
}
.backdrop-separator2 {
  width: 0;
  height: 0;
  z-index: 9998;
  position: absolute;
  left: 0;
  margin-top: calc(-240px + 20px + 1px);
  border-top: 240px solid transparent;
  border-left: 100vw solid rgba(255, 255, 255, 0.4);
}
div.poster {
  position: absolute;
  z-index: 99999;
  margin-top: -200px;
  left: 0px;
  margin-left: calc(50% - (170px / 2));
  width: 170px;
  height: 230px;
  background: #eee;
  border-radius: 6px;
  img.poster, img.poster-effect {
    width: 170px;
    height: 230px;
    object-fit: cover;
    border-radius: 6px;
    position: relative;
    z-index: 9999;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    &.poster-effect {
      z-index: 999;
      margin-top: -225px;
      opacity: 0.4;
      filter: blur(4px);
      transform: scale(0.9) translateZ(0);
    }
  }
}
.movie-data {
  margin-top: 50px;
  .title {
    font-weight: 800;
    letter-spacing: -0.03em;
    font-size: 22px;
    line-height: 22px;
    padding: 5px 0 15px 0;
  }
  .year {
    width: 100%;
    color: #aaa;
    font-size: 20px;
    float: left;
  }
  .vote {
    width: calc(100% - 100px);
    float: right;
    text-align: right;
    .text {
      float: right;
      color: #aaa;
      font-size: 13px;
      b {
        font-weight: 800;
        font-size: 20px;
        color: #000;
      }
    }
    .stars {
      float: right;
      font-size: 22px;
      margin-right: 10px;
      ion-icon {
        color: #fbcd00;
        line-height: 0px;
      }
    }
    .count {
      width: 100%;
      clear: both;
      color: #ccc;
    }
  }
  .overview {
    letter-spacing: -0.03em;
    font-size: 15px;
    color: white;
  }
  .duration, .genres, .cast {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 0 5px 0;
    .label {
      color: #aaa;
      padding: 4px 0 4px 24px;
      font-weight: 100;
      ion-icon {
        position: absolute;
        margin-top: 1px;
        margin-left: -24px;
      }
    }
    .value {
      color: #444;
      font-weight: 400;
    }
  }
  .cast {
    position: relative;
    height: 190px;
    .persons {
      display: flex;
      overflow-y: scroll;
      position: absolute;
      left: -16px;
      right: -16px;
      & > div:first-child {
        padding-left: 16px;
      }
      & > div:last-child {
        padding-right: 6px;
      }
      .person {
        width: 90px;
        height: 130px;
        background-size: cover;
        background-position: center ;
        border-radius: 6px;
        margin: 5px 10px 20px 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-color: #eee;
        .name {
          color: white;
          font-size: 14px;
          line-height: 14px;
          padding: 4px;
          font-weight: 600;
          text-shadow: 1px 1px rgba(0,0,0,0.3), -1px -1px rgba(0,0,0,0.3), -1px 1px rgba(0,0,0,0.3), 1px -1px rgba(0,0,0,0.3);
        }
      }
    }
  }
  .companies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    .company {
      img {
        object-fit: contain;
        max-width: 120px;
        margin: 10px 20px;
        height: 50px;
        opacity: 0.4;
        filter: grayscale(100%);
      }
    }
  }
}
.title {
    position: relative;
}
span.pos {
    position: absolute;
    top: 4px;
    right: 30px;
}
span.pos p {
    padding: 0;
    margin: 0;    width: 100%;
    font-weight: 600;
    background: #ff0000;
    color: #fff;
    padding: 0px 13px;
    font-size: 13px;
    border-radius: 10px;
}

.order-list.pad-0 > .title {
    padding: 0 !important;
    margin: 0px 0 10px 0 !important;
}
.pad-0 p{ float: left;
    width: 100%;
    padding: 0;}
	
	
	
	
	/*rating*/
	
	.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.form-group textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
}.form-group {
    float: left;
    width: 100%;padding: 0 10px;
}


.timeline {
  position: relative;
  margin: 40px auto 0;
}

.timeline::after {
  content: "";
    position: absolute;
    width: 2px;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 3%;
    margin-left: -3px;
}
span.self-bdg {
    background: #f00;
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
    margin-bottom: 3px;
    display: inline-block;
}
.container {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 100%;
  display: flex;
}

.container::after {
 content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    right: -17px;
    background-color: white;
    border: 2px solid #ff0000;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 2%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -7px;
}

.content {
  padding: 15px;
  background-color: white;
  position: relative;
  border-radius: 6px;width: 100%;
}
.content p{
	padding: 0;
    margin: 0 0px 6px 0;
    font-size: 13px;
}


