<ion-header>
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button class="fs-24 txt1" text="" icon="arrow-back-circle-outline"></ion-back-button>
			
		</ion-buttons>

		   <ion-buttons slot="end">
     
      
    </ion-buttons>

		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content >

<div class="full-width" *ngIf="orderDetails">
	<div class="bg-img">
		<img src="assets/imgs/bg.png" />
	</div>
	<div class="over-info">
		<h3>{{orderDetails.newinfo.merchant_name}}</h3>
		<h4>{{orderDetails.newinfo.email}}</h4>
		<h4>{{orderDetails.newinfo.phone}}</h4>
	</div>
</div>


<div *ngIf="orderDetails" >
		 <div class="movie-data" >
			
			<!--div class="title" style="margin-top:20px;">Order's Item Details<span class="pos"><p>Pending</p></span></div-->
			
				<div class="order-list">
					<div class="title" style="margin-top:0px !important;">Order's Item Details<span class="pos"><p>{{orderDetails.status}}</p></span></div>
						
						
						
					<div [innerHTML]="orderDetails.html"></div>
					
				</div>
		
			<div class="order-list pad-0">
				<div class="title">Order's History</div>
				<!--div *ngFor="let history of orderDetails.historyhtml;" >
					<p>Date:{{history.date_created}}</p>
					<p>Status:{{history.status}}</p>
					<p>Remarks:{{history.remarks}}</p>
				</div-->
				
				
				
			<div class="timeline">
				<div class="container right" *ngFor="let history of orderDetails.historyhtml;">
					<div class="content">
						<p>Date:{{history.date_created}}</p>
						<p><!--Status: --><span class="self-bdg">{{history.status}}</span></p>
						<!--p>Remarks:{{history.remarks}}</p-->
					</div>
				</div>
				
			</div>

				
				
				
			</div>

			


		<!--- end here -->
	</div>


   </div>
	<center>
		<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" *ngIf="orderDetails?.request_cancel == '2' && orderDetails?.status == 'pending'" (click)="cancelOrder(id)">Cancel Order</ion-button>
		<ion-button shape="round" class="self" expand="" color=""  style="color:#fff;" *ngIf="orderDetails?.status == 'Delivered'" [routerLink]="['/review/'+id]">Add Review</ion-button>
	</center>
	
</ion-content>
